<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
.glow-on-hover {
	transition: color 0.3s;
}

.glow-on-hover:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
}
.navbar {
	background-color: #000000; /* Change this to match Apple's black */
}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand text-white glow-on-hover" th:href="@{/}"><i
				class="fas fa-paw"></i></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a
						class="nav-link text-white glow-on-hover" href="/AnimalView">View
							Animals</a></li>
					<li class="nav-item"><a
						class="nav-link text-white glow-on-hover" href="/AnimalEditPage">Edit
							Animals</a></li>
					<li class="nav-item"><a
						class="nav-link text-white glow-on-hover" th:href="@{/AdminView}">Back</a>
					</li>
				</ul>
				<div>
					<a class="btn btn-primary glow-on-hover" th:href="@{/AddAnimal}">Add
						New Animal</a>
				</div>
			</div>
		</div>
	</nav>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
